<div class="container">
    <div class="content">
      <app-title title="Profile Form" fontSize="1.6rem"></app-title>
      <form [formGroup]="profileForm" (ngSubmit)="submit()">
        <text-input [control]="fc.name" label="Name" [showErrorsWhen]="isSubmitted"></text-input>
        <text-input [control]="fc.email" type="email" label="Email" [showErrorsWhen]="isSubmitted"></text-input>
        <text-input [control]="fc.address" label="Address" [showErrorsWhen]="isSubmitted"></text-input>
      
        <!-- <default-button text="Update"></default-button> -->
      </form>
    </div>
    <div class="buttons-container">
      <div class="buttons">
        <!-- <button routerLink="/">
          Update User
        </button> -->
        <button routerLink="/">
          Go Back Home
        </button>
      </div>
    </div>
  </div>
  