<div class="container">
    <div class="content">
      <app-title title="Profile Form" fontSize="1.6rem"></app-title>
      <form [formGroup]="profileForm">
        <text-input [control]="fc.name" label="Name"></text-input>
        <text-input [control]="fc.email" label="Email"></text-input>
        <text-input [control]="fc.address" label="Address"></text-input>
      </form>
    </div>
    <div class="buttons-container">
      <div class="buttons">
        <button routerLink="/">
          Go Back Home
        </button>
      </div>
    </div>
  </div>
